body {
  background-color: #33cc66;
  color: #fff;
  font-family: 'Arimo', sans-serif;
}

.navbar-default {
  background-color: #33cc66;
  border: none;
  height: 9rem;
}

.navbar-default .navbar-brand {
  color: #fff;
}

.navbar-default .navbar-nav > li > a {
  color: #fff;
  font-size: 1.5rem;
  text-transform: uppercase;
  font-weight: bold;
  transition: color 0.3s ease 0s;
}

.navbar-default .navbar-nav > li > a:focus,
.navbar-default .navbar-nav > li > a:hover {
  color: #006633;
  font-weight: bold;
}

.navbar-default .navbar-nav > li > a::after {
  display:block;
  content:attr(title);
  font-weight:bold;
  height:1px;
  color:#006633;
  overflow:hidden;
  visibility:hidden;
  margin-bottom:-1px;
}

.navbar-default .navbar-collapse {
  border: none;
  box-shadow: none;
}

.navbar-default .navbar-toggle {
  border-color: #fff;
  color: #fff;
}

.navbar-default .navbar-toggle .icon-bar {
  background-color: #fff;
}

.navbar-default .navbar-toggle:focus,
.navbar-default .navbar-toggle:hover {
  background-color: #006633;
  border-color: #006633;
}

.no-padding-left {
  padding-left: 0;
}

.no-horizontal-padding {
  padding-left: 0;
  padding-right: 0;
}

#name {
  font-size: 2rem;
  font-weight: bold;
  color: #fff;
  float: left;
}

#description {
  font-size: 1.5rem;
  color: #fff;
  margin-top:0;
  margin-bottom: 3rem;
}

.navbar-brand svg {
  float: left;
  margin-right: 0.5rem;
}

.navbar-brand a:hover svg{
  stroke: #006633;
}

#skills {
  background-color: #fff;
  margin-top:0;
  color: #666;
  padding-top: 8rem;
  padding-bottom: 8rem;
  padding-left: 4rem;
  padding-right: 4rem;
}

#skills ul {
  margin-top: 3rem;
  list-style: none;
}

#skills ul li{
  float: left;
  margin-bottom: 8rem;
}

#skills h2{
  color: #666;
}

#footer {
  margin-top: 5rem;
  background: #222;
}

#welcome {
  margin-top: 5rem;
  margin-bottom: 5rem;
}

#welcome h2{
  padding: 4rem;
  font-size: 3.8rem;
  line-height: 5rem;
}

#portfolio {
  width: 100%;
  margin-bottom: 0;
}

#portfoliobutton {
  margin-top: 4rem;
  margin-bottom: 8rem;
  font-size: 1.5rem;
}

#portfoliobutton a {
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
  color: #fff;
  transition: color 0.3s ease 0s;
}

#portfoliobutton a:hover {
  color: #006633;
}

.tiles {
  margin-right: 0;
  margin-left: 0;
  float: left;
  height: 30rem;
  position: relative;
}

.tiles .fa {
  padding-top: 10rem;
  font-size: 8rem;
}

.tiles a {
  color: #fff;
  text-decoration: none;
  transition: color 0.3s ease 0s;
}

.tiles a:hover {
 color: #33cc66;
}

#t1{ background: #000;}
#t2{ background: #333;}
#t3{ background: #eee;}
#t4{ background: #bbb;}
#t5{ background: #999;}
#t6{ background: #111;}
#t7{ background: #777;}
#t8{ background: #222;}
#t9{ background: #444;}


.tiles {
  position: relative;
  overflow: hidden;
  bottom: 0;
}
.tiles:hover h4 {
  bottom: 0;
}

.tiles h4 {
  position: absolute;
  left: 0px;
  right: 0px;
  margin-bottom: 0;
  padding-left: 3rem;
  padding-bottom: 2rem;
  padding-top: 2rem;
  padding-right: 2rem;
  color: #FFF;
  height: auto;
  bottom: -10rem;
  opacity: 1;
  background: rgba(0, 0, 0, 0.75) none repeat scroll 0% 0%;
  transition: all 0.3s;
}

#footer{
  padding-bottom: 4rem;
  padding-top: 8rem;
  font-size: 1.4rem;
}

#footer ul {
  list-style: none;
  margin-bottom: 4rem;
}

#footer li {
  display: inline-block;
}

#about {
  display: inline-block;
  color: #aaa;
  padding-left: 3.5rem;
  padding-right: 5rem;
}

#social-links p {
  display: inline-block;
  text-align: left;
  width: calc(100% - 50px);
  color: #aaa;
}

#footer ul li{
  margin-bottom: 1rem;
}

#footer-navigation b {
  text-transform: uppercase;
}

#footer-navigation p{
  display: inline-block;
  color: #aaa;
}

#social-links .fa{
  display: inline-block;
  vertical-align: top;
  font-size: 2.5rem;
  margin-right: 1rem;
}

.more-margin {
  margin-left: 0.5rem;
}

#footer a{
  text-decoration: none;
  color: #fff;
  transition: color 0.3s ease 0s;
}

#footer a:hover{
  color: #33cc66;
}

@media (max-width: 767px) {
  .negative-top-margin {
    margin-top: -20px;
  }
  #footer p{
    display: none;
  }
  #footer b, #footer .fa{
    padding: 1rem;
  }
  .centered{
    text-align: center;
  }
  #footer ul{
    padding-left: 0;
  }
  #welcome h2, #skills h2 {
    font-size: 2.6rem;
  }
}
@media (min-width: 768px) {
  .negative-top-margin {
    margin-top: -20px;
  }
  #welcome h2, #skills h2{
    font-size: 3.2rem;
  }
}
@media (min-width: 992px) {
  #welcome h2, #skills h2{
    font-size: 3.8rem;
  }
}
@media (min-width: 1200px) {

}